<div class="{{cssClass}} {{actor.type}}  window-scroll-body" autocomplete="off">

  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />

    <div class="header-fields">

      <h1 class="charname">
        <input
        id="name"
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
        />
      </h1>

      <div class="resources grid grid-3col">

        <div class="resource flex-group-center">
          <label for="health-value" class="resource-label">
            Health
          </label>

          <div class="resource-content flexrow flex-center flex-between">
            <input
              id="health-value"
              type="text"
              name="system.health.value"
              value="{{system.health.value}}"
              data-dtype="Number"
            />

            <span>/</span>

            <input
              id="health-max"
              type="text"
              name="system.health.max"
              value="{{system.health.max}}"
              data-dtype="Number"
            />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="power-value" class="resource-label">
            Power
          </label>

          <div class="resource-content flexrow flex-center flex-between">
            <input
              id="power-value"
              type="text"
              name="system.power.value"
              value="{{system.power.value}}"
              data-dtype="Number"
            />

            <span>/</span>

            <input
              id="power-max"
              type="text"
              name="system.power.max"
              value="{{system.power.max}}"
              data-dtype="Number"
            />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="level-value" class="resource-label">
            Level
          </label>

          <div class="resource-content flexrow flex-center flex-between">
            <input
              id="level-value"
              type="text"
              name="system.attributes.level.value"
              value="{{system.attributes.level.value}}"
              data-dtype="Number"
            />
          </div>
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">

    <a
      class="item {{tabs.features.cssClass}}"
      data-action="changeTab"
      data-tab="now">
      {{localize tabs.now.label}}
    </a>

    <a
      class="item {{tabs.description.cssClass}}"
      data-action="changeTab"
      data-tab="achievementArchive">
      {{localize tabs.achievementArchive.label}}
    </a>

    <a
      class="item {{tabs.items.cssClass}}"
      data-action="changeTab"
      data-tab="weaponArchive">
      {{localize tabs.weaponArchive.label}}
    </a>

    <a
      class="item {{tabs.spells.cssClass}}"
      data-action="changeTab"
      data-tab="chronicleArchive">
      {{localize tabs.chronicleArchive.label}}
    </a>

    <a
      class="item {{tabs.effects.cssClass}}"
      data-action="changeTab"
      data-tab="engagementArchive">
      {{localize tabs.engagementArchive.label}}
    </a>

  </nav>

  <section class="sheet-body">

    <div
      class="tab features {{tabs.features.cssClass}}"
      data-group="primary"
      data-tab="features">

      <section class="grid grid-3col">

        <aside class="sidebar">

          <div class="abilities flexcol">

            {{#each system.abilities as |ability key|}}

            <div class="ability flexrow flex-group-center">

              <label
                for="ability-{{key}}"
                class="resource-label rollable flexlarge align-left"
                data-action="roll"
                data-roll="d20+@abilities.{{key}}.mod"
                data-label="{{localize (lookup @root.config.abilities key)}}">

                {{localize (lookup @root.config.abilities key)}}

              </label>

              <input
                id="ability-{{key}}"
                type="text"
                name="system.abilities.{{key}}.value"
                value="{{ability.value}}"
                data-dtype="Number"
              />

              <span
                class="ability-mod rollable"
                data-action="roll"
                data-roll="d20+@abilities.{{key}}.mod"
                data-label="{{localize (lookup @root.config.abilities key)}}">

                {{numberFormat ability.mod decimals=0 sign=true}}

              </span>

            </div>

            {{/each}}

          </div>

        </aside>

        <section class="main grid-span-2">
          {{> "systems/fvtt-revulture/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>

    </div>
<div
  class="tab description {{tabs.description.cssClass}}"
  data-group="primary"
  data-tab="description">

  <textarea name="system.biography" rows="12">{{system.biography}}</textarea>

</div>

    <div
      class="tab items {{tabs.items.cssClass}}"
      data-group="primary"
      data-tab="items">

      {{> "systems/fvtt-revulture/templates/actor/parts/actor-items.hbs"}}

    </div>

    <div
      class="tab spells {{tabs.spells.cssClass}}"
      data-group="primary"
      data-tab="spells">

      {{> "systems/fvtt-revulture/templates/actor/parts/actor-spells.hbs"}}

    </div>

    <div
      class="tab effects flexcol {{tabs.effects.cssClass}}"
      data-group="primary"
      data-tab="effects">

      {{> "systems/fvtt-revulture/templates/actor/parts/actor-effects.hbs"}}

    </div>

    <div
      class="tab effects flexcol {{tabs.effects.cssClass}}"
      data-group="primary"
      data-tab="effects">

      {{> "systems/fvtt-revulture/templates/actor/parts/actor-effects.hbs"}}

    </div>

  </section>

</div>