{{! systems/fvtt-revulture/templates/item/item-sheet.hbs }}

<div class='{{cssClass}}' autocomplete='off'>

  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />

    <div class='header-fields'>
      <h1 class='charname'>
        <input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        />
      </h1>
    </div>
  </header>

  {{! Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>

    <a
      class='item {{tabs.description.cssClass}}'
      data-action='changeTab'
      data-tab='description'
    >
      Description
    </a>

    <a
      class='item {{tabs.attributes.cssClass}}'
      data-action='changeTab'
      data-tab='attributes'
    >
      Attributes
    </a>

  </nav>

  {{! Body }}
  <section class='sheet-body'>

    {{! Description }}
    <div
      class='tab description {{tabs.description.cssClass}}'
      data-group='primary'
      data-tab='description'
    >
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes }}
    <div
      class='tab attributes {{tabs.attributes.cssClass}}'
      data-group='primary'
      data-tab='attributes'
    >

      {{! Example fields }}
      {{#if (eq item.type 'spell')}}

        <div class='form-group'>
          <label for='spell-level'>
            Spell Level
          </label>

          <input
            id='spell-level'
            type='number'
            name='system.spellLevel'
            value='{{system.spellLevel}}'
          />
        </div>

      {{/if}}

      {{#if (eq item.type 'item')}}

        <div class='form-group'>
          <label for='item-formula'>
            Roll Formula
          </label>

          <input
            id='item-formula'
            type='text'
            name='system.formula'
            value='{{system.formula}}'
          />
        </div>

      {{/if}}

    </div>

  </section>

</div>